

@font-face {
  font-family: "Fixel Display";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/fixel-display-semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Fixel Text";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/fixel-text-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fixel Text";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/fixel-text-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Fixel Text";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/fixel-text-semibold.woff2") format("woff2");
}

